---
layout: default
registration_url: https://www.eventbrite.com/e/applied-deep-learning-tickets-42720051825
---

<div class="home">

  <div class="posts embed">
    <div class="post-teaser">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oo5im_lSkuw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="posts">
  {% for post in site.posts %}
  {% if post.upcoming == true and post.categories contains 'class' %}
  <div class="post-teaser">
    <span>
      <header>
        <div class="title-and-button">
          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h1>
          
        </div>
        <p class="signup">
          <span>Sign up for</span>
          <a class="button signup-button" href="{{ post.registration_url }}">
            {{ post.class_date.first | date: "%B %-d, %Y" }} - {{ post.class_date[1] | date: "%B %-d, %Y" }}
          </a>
          {% if post.class_2_date %}
          <span>or</span>
          <a class="button signup-button" href="{{ post.registration_2_url }}">
            {{ post.class_2_date.first | date: "%B %-d, %Y" }} - {{ post.class_2_date[1] | date: "%B %-d, %Y" }}
          </a>
          {% endif %}
        </p>
        
        {% case post.instructor.size %}
        {% when 1 %}
        <div class="byline">with <a href="#">{{ post.instructor.first }}</a></div>
        {% when 2 %}
        <div class="byline">with <a href="#">{{ post.instructor.first }}</a> and <a href="#">{{ post.instructor[1] }}</a></div>
        {% when 3 %}
        <div class="byline">with <a href="#">{{ post.instructor.first }}</a>, <a href="#">{{ post.instructor[1] }}</a>, and <a href="#">{{ post.instructor[2] }}</a></div>
        {% else %}
        {% endcase %}
      </header>

      <p>
        {{ post.summary | markdown }}
      </p>
      <div class="excerpt-footer">
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>

    </span>
  </div>
  {% endif %}
  {% endfor %}

  </div>




</div>
