---
layout: default
---
<article>
  <header id="main">
    <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
    <p class="signup">
      <span>Sign up for</span>
      <a class="button signup-button" href="{{ page.registration_url }}">
        {{ page.class_date.first | date: "%B %-d, %Y" }} - {{ page.class_date[1] | date: "%B %-d, %Y" }}
      </a>
      {% if page.class_2_date %}
      <span>or</span>
      <a class="button signup-button" href="{{ page.registration_2_url }}">
        {{ page.class_2_date.first | date: "%B %-d, %Y" }} - {{ page.class_2_date[1] | date: "%B %-d, %Y" }}
      </a>
      {% endif %}
    </p>
  </header>

  <div>

    {% case page.instructor.size %}
        {% when 1 %}
          <div class="byline post">with <a href="#">{{ page.instructor.first }}</a></div>
        {% when 2 %}
          <div class="byline post">with <a href="#">{{ page.instructor.first }}</a> and <a href="#">{{ page.instructor[1] }}</a></div>
        {% when 3 %}
          <div class="byline post">with <a href="#">{{ page.instructor.first }}</a>, <a href="#">{{ page.instructor[1] }}</a>, and <a href="#">{{ page.instructor[2] }}</a></div>
        {% else %}
        {% endcase %}
  </div>

  <div class="clear"></div>

  <section class="post-content">
    {{ content }}
  </section>

   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}

</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
